@page
@model IndexModel
@{
    ViewData["Title"] = "QuakeOut Dev";
    Layout = null; // Если у вас нет макета (Layout), можно оставить null.
    var emailPattern = @"[a-zA-Z0-9._%+-]+@[a-zA-Z]{2,}\.[a-zA-Z]{2,}";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="QuakeOut Dev">
    <meta name="description" content="A site where you can find out about me as a game developer under the name QuakeOut, see my best projects and contact me if necessary">
    <meta name="keywords" content="QuakeOut, Games, Gamedev, Android, iOS, PC, company, Google Play, Unity">
    <meta name="author" content="Maksym Filipyev">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="2023, QuakeOut Dev (Filipyev Maksym)">
    <meta name="language" content="en">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/Resources/Icons/site-icon.png">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <img src='~/Resources/Icons/QOD Logo18.png' alt="Логотип студии">
        <div class="right-buttons">
            <div class="buttons-container">
                <div class="right-nav-buttons">
                    <a onclick="scrollToAbout()"> About me</a>
                    <a onclick="scrollToGames()">Portfolio</a>
                    <a onclick="scrollToContacts()">Contacts</a>
                </div>
                <div class="right-contact-buttons">
                    <img src='~/Resources/Icons/youtube.png' alt="YouTube" onclick="openYouTube()">
                    <img src='~/Resources/Icons/twitter.png' alt="Twitter" onclick="openTwitter()">
                    <img src='~/Resources/Icons/facebook.png' alt="Facebook" onclick="openFacebook()">
                </div>
            </div>
        </div>

        <div class="open-nav-panel">
            <img src='~/Resources/Icons/menu-burger.png' alt="Open Navigation Panel" onclick="openNavigationPanel()">
        </div>

        <div class="navigation-panel">
            <div class="close-button-container">
                <img src='~/Resources/Icons/close.png' alt="Close Navigation Panel" onclick="closeNavigationPanel()">
            </div>

            <div class="navigation-buttons">
                <a onclick="closeNavigationPanel(), scrollToAbout()"> About me</a>
                <a onclick="closeNavigationPanel(), scrollToGames()">Portfolio</a>
                <a onclick="closeNavigationPanel(), scrollToContacts()">Contacts</a>
            </div>

            <div class="contact-bottons">
                <img src='~/Resources/Icons/youtube.png' alt="YouTube" onclick="openYouTube()">
                <img src='~/Resources/Icons/twitter.png' alt="Twitter" onclick="openTwitter()">
                <img src='~/Resources/Icons/facebook.png' alt="Facebook" onclick="openFacebook()">
            </div>
        </div>
    </header>

    <main>
        <section id="team-member">
            <div class="team-container">
                <h1>OUR TEAM</h1>
                <div class="team">
                    <div class="members">
                        <div class="member">
                            <div class="member-image">
                                <img src="Resources/Icons/proud.png" alt="Member Image">
                            </div>
                            <div class="member-text">
                                <h5>Filipyev Maksym</h5>
                                <p>
                                    Developer
                                </p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-image">
                                <img src="Resources/Icons/hi.png" alt="Member Image">
                            </div>
                            <div class="member-text">
                                <h5>Filipyev Maksym</h5>
                                <p>
                                    Game Designer
                                </p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-image">
                                <img src="Resources/Icons/happy.png" alt="Member Image">
                            </div>
                            <div class="member-text">
                                <h5>Filipyev Maksym</h5>
                                <p>
                                    Art Designer
                                </p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-image">
                                <img src="Resources/Icons/shocked.png" alt="Member Image">
                            </div>
                            <div class="member-text">
                                <h5>Filipyev Maksym</h5>
                                <p>
                                    Artist
                                </p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-image">
                                <img src="Resources/Icons/peace.png" alt="Member Image">
                            </div>
                            <div class="member-text">
                                <h5>Filipyev Maksym</h5>
                                <p>
                                    Good Guy
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="prev-member"> <img src="Resources/Icons/left-arrow.png" alt="Previous" onclick="prevTeamSlide()"> </div>
                <div class="next-member"> <img src="Resources/Icons/right-arrow.png" alt="Next" onclick="nextTeamSlide()"> </div>
            </div>

        </section>
    
        <section id="gmail-contact">
            <div class="gmail-contact">
                <div class="contact-slogan">
                    <p>Let's Create Something Great!</p>
                </div>
                <div class="contact-text">
                    <p>
                        Think you could give a good idea for a game? Or do you have any questions or wishes?
                        Contact us and we will discuss the details.
                    </p>
                </div>

                <div class="contact-forms"> 
                    <form name="contacts" method="POST" action="/.netlify/functions/submitForm">
                        <!-- Ім'я -->
                        <label for="name">Ім'я (обов'язково):</label>
                        <input type="text" id="name" name="name" required pattern="[A-Za-zА-Яа-я]{2,}" title="Ім'я має містити щонайменше 2 літери і не може містити цифри або символи">
                        <br><br>

                        <!-- Назва Компанії -->
                        <label for="company">Назва Компанії (необов'язково):</label>
                        <input type="text" id="company" name="company">
                        <br><br>

                        <!-- Пошта -->
                        <label for="email">Електрона пошта (обов'язково):</label>
                        <input type="email" id="email" name="email" required pattern="@emailPattern" title="Будь ласка, введіть дійсну адресу електронної пошти">
                        <br><br>

                        <!-- Номер телефону -->
                        <label for="phone">Контактний номер (обов'язково):</label>
                        <input type="tel" id="phone" name="phone" required pattern="\+[0-9]{10,15}" title="Номер повинен починатися з + і містити від 10 до 15 цифр">
                        <br><br>

                        <!-- Опис замовлення -->
                        <label for="order_description">Опис замовлення (обов'язково):</label>
                        <textarea id="order_description" name="order_description" maxlength="1000" placeholder="Опишіть ваше замовлення та побажання тут (до 1000 символів)" required></textarea>
                        <br><br>

                        <!-- Кнопка відправки -->
                        <input type="submit" value="Відправити">
                    </form>
                </div>

            </div>
        </section>

    </main>

    <footer>
        <section id="footer">

            <div id="button-to-top">
                <img src="Resources/Icons/up-arrow.png" alt="ToUp" onclick ="scrollToHeader()" title="Go to up">
            </div>

            <div class="footer">
                <div class="footer-top">
                    <div class="footer-media">
                        <img src='Resources/Icons/QOD Logo18.png' alt="Логотип студии">
                        <p>I develop games of different genres under my own brand.</p>

                        <div class="contact-buttons">
                            <img src='Resources/Icons/youtube.png' alt="YouTube" onclick="openYouTube()">
                            <img src='Resources/Icons/twitter.png' alt="Twitter" onclick="openTwitter()">
                            <img src='Resources/Icons/facebook.png' alt="Facebook" onclick="openFacebook()">
                            <img src='Resources/Icons/github.png' alt="GitHub" onclick="openGitHub()">
                            <img src='Resources/Icons/linkedin.png' alt="LinkedIn" onclick="openLinkedIn()">
                            <img src='Resources/Icons/notion.png' alt="LinkedIn" onclick="openNotion()">
                        </div>
                    </div>
                    <div class="footer-navigation">
                        <ul>
                            <p>Our Games</p>
                            <li><a onclick="scrollToAllGames()">All Games</a></li>
                            <li><a onclick="scrollToGames()">Dreamland</a></li>
                            <li><a onclick="scrollToGames()">Quicky Car</a></li>
                            <li><a onclick="scrollToGames()">Hole vs Food</a></li>
                        </ul>

                        <ul>
                            <p>Navigation</p>
                            <li><a onclick="scrollToAbout()">About me</a></li>
                            <li><a onclick="scrollToGames()">My Games</a></li>
                            <li><a onclick="scrollToTeamMember()">Our Team</a></li>
                            <li><a onclick="scrollToContacts()">Contacts with me</a></li>
                        </ul>

                        <ul>
                            <p>Contacts</p>
                            <li><a onclick="openYouTube()">YouTube</a></li>
                            <li><a onclick="openFacebook()">Facebook</a></li>
                            <li><a onclick="openTwitter()">Twitter</a></li>
                            <li><a onclick="openLinkedIn()">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-bottom">
                    <p>Created by QuakeOut | All rights Reserved</p>
                    <p>Phone: +380 (11) 111 11 11 | Email: quakeout@gmail.com</p>
                </div>

            </div>
        </section>
    </footer>
</body>
</html>
